@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #023047;
  --primary-color-light: #d7effa;
  --secindary-color: #ffb703;

  --h1: 32px;
  --h2: 28px;
  --h3: 24px;
  --h4: 20px;
  --h5: 18px;
  --h6: 16px;
}
body {
  padding: 0%;
  margin: 0%;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: var(--h6);
  color: var(--primary-color);
}

@layer components {
  .input {
    @apply px-6 py-2 w-full h-full rounded-2xl border-blue-900 border-[1px] cursor-pointer;
  }
  .action {
    @apply py-2 w-full mb-6 rounded-lg  bg-blue-950 hover:bg-[#1c3772] text-white;
  }
  .center {
    @apply flex justify-center items-center;
  }
}
