@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0%;
  margin: 0%;
  background-color: rgb(241, 241, 241);
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .input {
    @apply px-6 py-2 w-full h-full rounded-2xl border-blue-900 border-[1px] cursor-pointer;
  }
  .action {
    @apply py-2 w-full mb-6 rounded-lg  bg-blue-950 hover:bg-[#1c3772] text-white;
  }
}
